body {
    text-align: center;
    padding: 10px 10%;
}
.main-box h3 {
    color: darkcyan;
}
#form1 {
    width: 400px;
    margin: 25px auto;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 15px 30px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 30px silver;
}
.panel {
    text-align: left;
}
label {
    font-style: italic;
    font-size: 12pt;
    margin-bottom: 0px;
    color: navy;
}
.err {
    color: red;
    font-style: italic;
    font-size: 12pt;
}
.buttons {
    margin-top: 25px;
    margin-bottom: 20px;
}
.buttons input {
    width: 120px;
}